[data-role="page"]{
	background: #00AEEF; 
}
[data-role="header"]{
	background:#0E74BC !important;
	color:white !important;
}
.table-responsive {
border: 0px solid #ddd !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
color: white !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: white !important;
opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: white !important;
opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: white !important;
}
.home-grid-a {
padding: 0;
margin: 0;
margin-top: 15px;
height: 380px;
}
.ui-block-a, .ui-block-b {
padding: 0;
margin: 0 auto;
height: 33.3%;
}
.ui-block-a *, .ui-block-b * {
margin: 0 auto;
text-align: center;
}
.ui-grid-a span{
	display: block;
}
.ui-home-bar a, .ui-home-bar a {
width: 50%;
}
.ui-bar-a, ui-bar {
margin: 0 auto;
padding: 0;
height: 90%;
width: 90%;
max-width: 500px;
text-align: center;
/* Gradient set-up */
background: #3DC8F3 !important;
/* Border set-up */
border: 0px solid white;
border-radius: 0px;
box-shadow: 0px 0px 0px #000;
display: table;
}
.menu-elem {
margin: 15px auto;
text-align: center !important;
}
.menu-elem a {
text-decoration: none;
margin: 0 auto;
text-align: center !important;
}
.menu-elem .menu-text {
margin-top: 5px;
font-size: 0.9em;
color: #FFF;
text-align:center;
}
.ui-bar, .ui-body {
position: relative;
overflow: hidden;
display: block;
clear: both;
text-align: center !important;
}
.ui-input-text{
border-width: 0px !important;
}
.ui-btn, label.ui-btn{
border-width: 0px !important;
}
.ui-page {
background: #00AEEF !important;
}
.Home {
margin-top: 0px !important;
text-align:center !important;
font-size:2em !important;
padding: 0em 0px !important;
}
.myTable{
border-spacing: 5px;
border-collapse: separate;
border: 1px solid #00AEEF;
}
.myTable td,th{
border: 1px solid #00AEEF;
}
.headcol {
position:absolute;
left:0;
top:auto;
border-right: 0px none #00AEEF;
}
.scroll{
overflow-x:scroll;
margin-left:10em;
overflow-y:visible;
padding-bottom:1px;
}
#no-ellipsis{
text-overflow: initial !imporatnt;
overflow: visible !imporatnt;
white-space: normal !important;
}
.ui-icon.inline { display:inline-block; }​
.ui-widget-header.center { text-align:center; }
.ui-list {
background: #3DC8F3 !important;
color: white !important;
font-size: 0.9 em;
}
.wikia{
color: white !important;
background: #3DC8F3 !important;
border-width: 0.1em !important;
}
#wikidate{
font-size: 0.8em !important;
}
.ui-bar-a{
border-width: 0px !important;
} 
.ui-shadow{
	box-shadow: none !important;
}
.btn-bg{
	background: none !important;
}
.ui-listview > li p{
	font-size: 0.9em;
	white-space: normal;
}
.ui-btn-active{
	background-color: #38C !important;
border-color: #38C !important;
color: #FFF !important;
text-shadow: 0px 1px 0px #059 !important;
}
#shimanager {
    color: white;
    border: 1px solid white;
    font: bold 12px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
    
}

#shimanager thead{
	background-color: #424242;
}
     
#shimanager tr td {
    color: white;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, blue, #eee);
}
         
#shimanager tr td:last-child {
    border-right: none;
}

#shimanager tr:last-child td {
    border-bottom: none;
}
#emp_name{
	background-color: #6E6E6E;
}
